* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}

:root {
  --Green: hsl(75, 94%, 57%);
  --Grey: hsl(0, 0%, 20%);
  --darkGrey: hsl(0, 0%, 12%);
  --darkerGrey: hsl(0, 0%, 8%);
}

.App {
  background-color: var(--darkerGrey);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
